html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%; }

body {
  font-family: "Nunito", sans-serif;
  color: #fff;
  font-weight: 300; }

.container {
  display: grid;
  grid-template-rows: 100vh min-content 30vw 30vw repeat(5, min-content) minmax(300px, 360px) minmax(100px, 120px);
  grid-template-columns: [full-start] minmax(6rem, 1fr) [center-start] repeat(8, [col-start] minmax(min-content, 17.5rem) [col-end]) [center-end] minmax(6rem, 1fr) [full-end]; }
  @media screen and (max-width: 970px) {
    .container {
      grid-template-rows: 100vh min-content min-content min-content repeat(5, min-content) minmax(300px, 360px) minmax(100px, 120px); } }

.content {
  display: grid;
  grid-template-columns: minmax(6rem, 1fr) repeat(8, [col-start] minmax(min-content, 17.5rem) [col-end]) minmax(6rem, 1fr); }

.half_content {
  display: grid;
  grid-template-columns: minmax(6rem, 1fr) repeat(4, [col-start] minmax(min-content, 17.5rem) [col-end]); }

.half_content_back {
  display: grid;
  grid-template-columns: repeat(4, [col-start] minmax(min-content, 17.5rem) [col-end]) minmax(6rem, 1fr); }

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%; }

body {
  font-family: "Nunito", sans-serif;
  color: #fff;
  font-weight: 300; }

.container {
  display: grid;
  grid-template-rows: 100vh min-content 30vw 30vw repeat(5, min-content) minmax(300px, 360px) minmax(100px, 120px);
  grid-template-columns: [full-start] minmax(6rem, 1fr) [center-start] repeat(8, [col-start] minmax(min-content, 17.5rem) [col-end]) [center-end] minmax(6rem, 1fr) [full-end]; }
  @media screen and (max-width: 970px) {
    .container {
      grid-template-rows: 100vh min-content min-content min-content repeat(5, min-content) minmax(300px, 360px) minmax(100px, 120px); } }

.content {
  display: grid;
  grid-template-columns: minmax(6rem, 1fr) repeat(8, [col-start] minmax(min-content, 17.5rem) [col-end]) minmax(6rem, 1fr); }

.half_content {
  display: grid;
  grid-template-columns: minmax(6rem, 1fr) repeat(4, [col-start] minmax(min-content, 17.5rem) [col-end]); }

.half_content_back {
  display: grid;
  grid-template-columns: repeat(4, [col-start] minmax(min-content, 17.5rem) [col-end]) minmax(6rem, 1fr); }

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%; }

body {
  font-family: "Nunito", sans-serif;
  color: #fff;
  font-weight: 300; }

.container {
  display: grid;
  grid-template-rows: 100vh min-content 30vw 30vw repeat(5, min-content) minmax(300px, 360px) minmax(100px, 120px);
  grid-template-columns: [full-start] minmax(6rem, 1fr) [center-start] repeat(8, [col-start] minmax(min-content, 17.5rem) [col-end]) [center-end] minmax(6rem, 1fr) [full-end]; }
  @media screen and (max-width: 970px) {
    .container {
      grid-template-rows: 100vh min-content min-content min-content repeat(5, min-content) minmax(300px, 360px) minmax(100px, 120px); } }

.content {
  display: grid;
  grid-template-columns: minmax(6rem, 1fr) repeat(8, [col-start] minmax(min-content, 17.5rem) [col-end]) minmax(6rem, 1fr); }

.half_content {
  display: grid;
  grid-template-columns: minmax(6rem, 1fr) repeat(4, [col-start] minmax(min-content, 17.5rem) [col-end]); }

.half_content_back {
  display: grid;
  grid-template-columns: repeat(4, [col-start] minmax(min-content, 17.5rem) [col-end]) minmax(6rem, 1fr); }

.header {
  grid-column: 1 / -1;
  display: grid;
  grid-template-rows: 1fr repeat(2, min-content) 1fr;
  background: linear-gradient(0deg, #c4c4c4 0%, rgba(0, 0, 0, 0.4) 0%), url("./img/Header-background.png") top;
  background-attachment: fixed;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover; }
  .header__menu {
    display: grid;
    grid-template-columns: minmax(10rem, 43rem) minmax(60rem, 80rem) minmax(16rem, 1fr);
    grid-template-rows: auto 2px;
    grid-template-areas: "logo menu socials";
    height: 13rem;
    position: relative; }
    .header__menu:after {
      position: absolute;
      grid-column: 1 / -1;
      content: '';
      display: block;
      background-color: #767575;
      bottom: 0px;
      height: 1px;
      width: 100%; }
    .header__menu .logo {
      width: 7rem;
      height: 7rem;
      background-color: #11739d;
      align-self: center;
      justify-self: center;
      box-shadow: 1rem 1rem 0.2rem 0 #c3c3c2;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 2.5rem;
      color: #f5f5f5;
      font-family: "Open Sans", sans-serif; }
    .header__menu__socials {
      display: grid;
      grid-template-columns: repeat(4, max-content);
      align-items: center;
      grid-column-gap: 2.5rem;
      margin-left: 1rem; }
      .header__menu__socials .social img {
        cursor: pointer; }
    .header__menu__items {
      /*display: flex;
      align-items: center;
      justify-content: space-between;*/
      display: grid;
      grid-template-columns: repeat(6, max-content);
      align-items: center;
      justify-content: space-between; }
      .header__menu__items .item {
        align-self: stretch;
        display: flex;
        align-items: center;
        padding: 0 1rem;
        position: relative;
        /*&:hover { Bad Practice
          border-bottom: 2px solid #11739d;
        }*/ }
        .header__menu__items .item:hover::after {
          position: absolute;
          content: '';
          display: block;
          bottom: -1px;
          height: 3px;
          background-color: #11739d;
          width: 100%;
          left: 50%;
          transform: translateX(-50%);
          z-index: 9; }
    @media screen and (max-width: 590px) {
      .header__menu__items {
        grid-template-rows: repeat(6, 30px);
        grid-template-columns: none; } }
    @media screen and (max-width: 880px) {
      .header__menu {
        height: auto;
        grid-template-columns: none;
        grid-template-rows: none;
        grid-template-areas: "logo" "menu" "socials"; }
        .header__menu .logo {
          grid-area: logo; }
        .header__menu__socials {
          grid-area: socials;
          justify-self: flex-end;
          margin-right: 2rem; }
        .header__menu__items {
          grid-area: menu; } }
  .header .title {
    font-size: 15rem;
    letter-spacing: -8px;
    text-align: center; }
  .header .title-desk {
    text-align: center;
    font-size: 2.5rem;
    letter-spacing: 2rem;
    line-height: 5rem;
    font-weight: 500;
    color: #11749e;
    text-transform: uppercase; }
  @media screen and (max-width: 570px) {
    .header .title {
      font-size: 11rem; }
    .header .title-desk {
      font-size: 1.5rem; } }
  @media screen and (max-width: 500px) {
    .header .title {
      font-size: 9rem; }
    .header .title-desk {
      font-size: 1rem; } }
  .header .scroll-down {
    align-self: center;
    justify-self: center; }
    .header .scroll-down--title {
      font-size: 13px;
      line-height: 22px;
      color: #ffffff;
      font-weight: 400;
      text-align: center;
      margin-bottom: 1rem; }
    .header .scroll-down--button {
      cursor: pointer;
      width: 65px;
      height: 65px;
      border-radius: 3.2rem;
      background-color: rgba(128, 128, 128, 0);
      border: 1px solid #ffffff;
      display: flex;
      align-items: center;
      justify-content: center; }

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%; }

body {
  font-family: "Nunito", sans-serif;
  color: #fff;
  font-weight: 300; }

.container {
  display: grid;
  grid-template-rows: 100vh min-content 30vw 30vw repeat(5, min-content) minmax(300px, 360px) minmax(100px, 120px);
  grid-template-columns: [full-start] minmax(6rem, 1fr) [center-start] repeat(8, [col-start] minmax(min-content, 17.5rem) [col-end]) [center-end] minmax(6rem, 1fr) [full-end]; }
  @media screen and (max-width: 970px) {
    .container {
      grid-template-rows: 100vh min-content min-content min-content repeat(5, min-content) minmax(300px, 360px) minmax(100px, 120px); } }

.content {
  display: grid;
  grid-template-columns: minmax(6rem, 1fr) repeat(8, [col-start] minmax(min-content, 17.5rem) [col-end]) minmax(6rem, 1fr); }

.half_content {
  display: grid;
  grid-template-columns: minmax(6rem, 1fr) repeat(4, [col-start] minmax(min-content, 17.5rem) [col-end]); }

.half_content_back {
  display: grid;
  grid-template-columns: repeat(4, [col-start] minmax(min-content, 17.5rem) [col-end]) minmax(6rem, 1fr); }

.features {
  grid-column: 1 / -1;
  background-color: #11749e;
  padding: 10rem 0;
  grid-template-rows: 18.5rem min-content; }
  .features__top {
    grid-row: 1/2;
    grid-column: 2/10;
    display: grid;
    grid-template-rows: 1fr min-content 1fr; }
    .features__top img {
      grid-row: 1/-1;
      grid-column: 1/-1;
      justify-self: center;
      height: 100%; }
    .features__top--desc {
      font-size: 3.8rem;
      line-height: 4.5rem;
      grid-row: 2/3;
      grid-column: 1/-1;
      text-align: center; }
  .features__bottom {
    margin-top: 3.4rem;
    grid-row: 2/3;
    grid-column: 2/10;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(26rem, 1fr));
    grid-gap: 4.5rem; }
    .features__bottom .feature {
      display: grid; }
      .features__bottom .feature .image-wrap {
        height: 13.5rem;
        width: 13.5rem;
        border-radius: 67px;
        background-color: #2e85aa;
        position: relative;
        justify-self: center;
        margin-bottom: 1.5rem; }
        .features__bottom .feature .image-wrap img {
          position: absolute;
          height: 3.5rem;
          width: 3.5rem;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%); }
      .features__bottom .feature .title {
        font-size: 1.8rem;
        text-align: center;
        margin-bottom: 2rem;
        text-transform: uppercase; }
      .features__bottom .feature .description {
        font-size: 15px;
        line-height: 24px;
        text-align: center; }

.desk1 {
  grid-column: 1/-1; }
  .desk1__text {
    grid-column: 1 / 6;
    background-color: #222222;
    grid-template-rows: minmax(24rem, 26rem);
    align-content: center; }
    .desk1__text__content {
      grid-column: 2 / 5;
      display: grid;
      align-content: space-between; }
      .desk1__text__content span {
        font-size: 1.3rem;
        line-height: 2.4rem; }
      .desk1__text__content h3 {
        font-size: 2.5rem;
        line-height: 3.6rem;
        text-transform: uppercase; }
      .desk1__text__content p {
        font-size: 1.5rem;
        line-height: 2.4rem; }
  .desk1__img {
    grid-column: 6 / -1;
    background: linear-gradient(0deg, #c4c4c4 0%, rgba(0, 0, 0, 0.4) 0%), url("../../img/desk1.png") top;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover; }
  @media screen and (max-width: 970px) {
    .desk1 {
      grid-template-rows: repeat(2, 38rem); }
      .desk1__text {
        grid-column: 1 / -1; }
      .desk1__img {
        grid-column: 1 / -1; } }

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%; }

body {
  font-family: "Nunito", sans-serif;
  color: #fff;
  font-weight: 300; }

.container {
  display: grid;
  grid-template-rows: 100vh min-content 30vw 30vw repeat(5, min-content) minmax(300px, 360px) minmax(100px, 120px);
  grid-template-columns: [full-start] minmax(6rem, 1fr) [center-start] repeat(8, [col-start] minmax(min-content, 17.5rem) [col-end]) [center-end] minmax(6rem, 1fr) [full-end]; }
  @media screen and (max-width: 970px) {
    .container {
      grid-template-rows: 100vh min-content min-content min-content repeat(5, min-content) minmax(300px, 360px) minmax(100px, 120px); } }

.content {
  display: grid;
  grid-template-columns: minmax(6rem, 1fr) repeat(8, [col-start] minmax(min-content, 17.5rem) [col-end]) minmax(6rem, 1fr); }

.half_content {
  display: grid;
  grid-template-columns: minmax(6rem, 1fr) repeat(4, [col-start] minmax(min-content, 17.5rem) [col-end]); }

.half_content_back {
  display: grid;
  grid-template-columns: repeat(4, [col-start] minmax(min-content, 17.5rem) [col-end]) minmax(6rem, 1fr); }

.desk2 {
  grid-column: 1/-1; }
  .desk2__text {
    color: black;
    grid-column: 6 / -1;
    background-color: #f3f3f3;
    grid-template-rows: minmax(24rem, 26rem);
    align-content: center; }
    .desk2__text__content {
      grid-column: 2 / 5;
      display: grid;
      align-content: space-between; }
      .desk2__text__content span {
        font-size: 1.3rem;
        line-height: 2.4rem; }
      .desk2__text__content h3 {
        font-size: 2.5rem;
        line-height: 3.6rem;
        text-transform: uppercase; }
      .desk2__text__content p {
        font-size: 1.5rem;
        line-height: 2.4rem; }
  .desk2__img {
    grid-column: 1 / 6;
    background: linear-gradient(0deg, #c4c4c4 0%, rgba(0, 0, 0, 0.4) 0%), url("../../img/desk2.png") top;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover; }
  @media screen and (max-width: 970px) {
    .desk2 {
      grid-template-rows: repeat(2, 38rem); }
      .desk2__text {
        grid-column: 1 / -1; }
      .desk2__img {
        grid-column: 1 / -1;
        grid-row: 2/3; } }

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%; }

body {
  font-family: "Nunito", sans-serif;
  color: #fff;
  font-weight: 300; }

.container {
  display: grid;
  grid-template-rows: 100vh min-content 30vw 30vw repeat(5, min-content) minmax(300px, 360px) minmax(100px, 120px);
  grid-template-columns: [full-start] minmax(6rem, 1fr) [center-start] repeat(8, [col-start] minmax(min-content, 17.5rem) [col-end]) [center-end] minmax(6rem, 1fr) [full-end]; }
  @media screen and (max-width: 970px) {
    .container {
      grid-template-rows: 100vh min-content min-content min-content repeat(5, min-content) minmax(300px, 360px) minmax(100px, 120px); } }

.content {
  display: grid;
  grid-template-columns: minmax(6rem, 1fr) repeat(8, [col-start] minmax(min-content, 17.5rem) [col-end]) minmax(6rem, 1fr); }

.half_content {
  display: grid;
  grid-template-columns: minmax(6rem, 1fr) repeat(4, [col-start] minmax(min-content, 17.5rem) [col-end]); }

.half_content_back {
  display: grid;
  grid-template-columns: repeat(4, [col-start] minmax(min-content, 17.5rem) [col-end]) minmax(6rem, 1fr); }

.solutions {
  grid-column: 2 / 10;
  display: grid;
  grid-template-rows: 17.6rem min-content min-content;
  color: black;
  padding-top: 90px;
  margin-bottom: 10rem; }
  .solutions__top {
    display: grid;
    grid-template-rows: 1fr min-content 1fr;
    grid-column: 1/-1;
    grid-row: 1/2;
    justify-items: center; }
    .solutions__top img {
      grid-row: 1/-1;
      grid-column: 1/-1; }
    .solutions__top--desc {
      grid-row: 2/3;
      grid-column: 1/-1;
      text-align: center;
      font-size: 3.8rem;
      text-transform: uppercase; }
  .solutions__middle {
    text-align: center;
    font-size: 3rem;
    margin-top: 4rem;
    margin-bottom: 7rem; }
  .solutions__bottom {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(27rem, 1fr));
    grid-gap: 4.5rem; }
    .solutions__bottom .solution {
      display: grid;
      grid-template-rows: 290px repeat(2, min-content);
      grid-row-gap: 2rem; }
      .solutions__bottom .solution img {
        width: 100%;
        height: 100%;
        grid-row: 1/2;
        object-fit: cover; }
      .solutions__bottom .solution h3 {
        grid-row: 2/3;
        font-size: 18px;
        color: #11749e;
        text-transform: uppercase;
        text-align: center; }
      .solutions__bottom .solution p {
        grid-row: 3/4;
        font-size: 1.3rem;
        text-align: center;
        line-height: 2rem; }

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%; }

body {
  font-family: "Nunito", sans-serif;
  color: #fff;
  font-weight: 300; }

.container {
  display: grid;
  grid-template-rows: 100vh min-content 30vw 30vw repeat(5, min-content) minmax(300px, 360px) minmax(100px, 120px);
  grid-template-columns: [full-start] minmax(6rem, 1fr) [center-start] repeat(8, [col-start] minmax(min-content, 17.5rem) [col-end]) [center-end] minmax(6rem, 1fr) [full-end]; }
  @media screen and (max-width: 970px) {
    .container {
      grid-template-rows: 100vh min-content min-content min-content repeat(5, min-content) minmax(300px, 360px) minmax(100px, 120px); } }

.content {
  display: grid;
  grid-template-columns: minmax(6rem, 1fr) repeat(8, [col-start] minmax(min-content, 17.5rem) [col-end]) minmax(6rem, 1fr); }

.half_content {
  display: grid;
  grid-template-columns: minmax(6rem, 1fr) repeat(4, [col-start] minmax(min-content, 17.5rem) [col-end]); }

.half_content_back {
  display: grid;
  grid-template-columns: repeat(4, [col-start] minmax(min-content, 17.5rem) [col-end]) minmax(6rem, 1fr); }

.notations {
  grid-column: 1 / -1;
  background-color: #11749e;
  padding: 15rem 0 17rem 0; }
  .notations .main {
    grid-column: 2/10;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(35rem, 1fr));
    grid-gap: 6rem; }
    .notations .main .notations__item {
      display: grid;
      grid-template-columns: minmax(5rem, 7rem) 1fr;
      grid-column-gap: 3.5rem; }
      .notations .main .notations__item img {
        width: 100%; }
      .notations .main .notations__item p {
        font-size: 15px;
        line-height: 24px; }
  @media screen and (max-width: 500px) {
    .notations {
      padding: 5rem 0 7rem 0; }
      .notations .main {
        grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr)); } }

.options {
  grid-column: 1 / -1;
  padding: 10rem 0;
  background: url("../../img/options.png") top;
  background-attachment: fixed;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover; }
  .options__left {
    grid-column: 1 / 6; }
    .options__left__wrap {
      grid-column: 2 / 5;
      align-self: center; }
      .options__left__wrap h3 {
        margin-bottom: 4rem;
        font-size: 2.5rem;
        text-transform: uppercase; }
      .options__left__wrap p {
        margin-bottom: 6rem;
        font-size: 1.5rem;
        line-height: 2.4rem; }
      .options__left__wrap__buttons a:not(:last-child) {
        margin-bottom: 2rem; }
  .options__right {
    grid-column: 6 / -1; }
    .options__right__wrap {
      grid-column: 2 / 5; }
  @media screen and (max-width: 920px) {
    .options {
      grid-template-rows: repeat(2, min-content); }
      .options__left {
        grid-column: 1 / -1;
        grid-row: 1/2;
        margin-bottom: 3rem; }
        .options__left__wrap {
          grid-column: 2 / 5;
          align-self: center; }
          .options__left__wrap h3 {
            margin-bottom: 4rem;
            font-size: 2.5rem;
            text-transform: uppercase; }
          .options__left__wrap p {
            margin-bottom: 6rem;
            font-size: 1.5rem;
            line-height: 2.4rem; }
          .options__left__wrap__buttons a:not(:last-child) {
            margin-bottom: 2rem; }
      .options__right {
        grid-column: 1 / -1;
        grid-row: 2/3; }
        .options__right__wrap {
          grid-column: 1/-1;
          justify-self: center; } }

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%; }

body {
  font-family: "Nunito", sans-serif;
  color: #fff;
  font-weight: 300; }

.container {
  display: grid;
  grid-template-rows: 100vh min-content 30vw 30vw repeat(5, min-content) minmax(300px, 360px) minmax(100px, 120px);
  grid-template-columns: [full-start] minmax(6rem, 1fr) [center-start] repeat(8, [col-start] minmax(min-content, 17.5rem) [col-end]) [center-end] minmax(6rem, 1fr) [full-end]; }
  @media screen and (max-width: 970px) {
    .container {
      grid-template-rows: 100vh min-content min-content min-content repeat(5, min-content) minmax(300px, 360px) minmax(100px, 120px); } }

.content {
  display: grid;
  grid-template-columns: minmax(6rem, 1fr) repeat(8, [col-start] minmax(min-content, 17.5rem) [col-end]) minmax(6rem, 1fr); }

.half_content {
  display: grid;
  grid-template-columns: minmax(6rem, 1fr) repeat(4, [col-start] minmax(min-content, 17.5rem) [col-end]); }

.half_content_back {
  display: grid;
  grid-template-columns: repeat(4, [col-start] minmax(min-content, 17.5rem) [col-end]) minmax(6rem, 1fr); }

.team {
  grid-column: 2 / 10;
  display: grid;
  grid-template-rows: 17.6rem min-content min-content;
  color: black;
  padding-top: 90px;
  margin-bottom: 10rem; }
  .team__top {
    display: grid;
    grid-template-rows: 1fr min-content 1fr;
    grid-column: 1/-1;
    grid-row: 1/2;
    justify-items: center; }
    .team__top img {
      grid-row: 1/-1;
      grid-column: 1/-1; }
    .team__top--desc {
      grid-row: 2/3;
      grid-column: 1/-1;
      text-align: center;
      font-size: 3.8rem;
      text-transform: uppercase; }
  .team__middle {
    text-align: center;
    font-size: 3rem;
    margin-top: 4rem;
    margin-bottom: 7rem; }
  .team__bottom {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(27rem, 1fr));
    grid-gap: 4.5rem; }
  .team__bottom__item {
    display: grid;
    grid-template-rows: min-content 5.3rem; }
    .team__bottom__item img {
      grid-column: 1/-1;
      grid-row: 1/2;
      width: 100%; }
    .team__bottom__item--desc {
      grid-column: 1/-1;
      grid-row: 1/-1;
      justify-self: center;
      align-self: end;
      padding: 25px 40px 50px;
      z-index: 3;
      background-color: #fff; }
      .team__bottom__item--desc h3 {
        font-size: 2rem;
        color: #11749e;
        text-transform: uppercase;
        margin-bottom: 1.5rem; }
      .team__bottom__item--desc p {
        font-size: 1.5rem;
        font-weight: bold;
        text-align: center; }

.contact-us {
  grid-column: 1 / -1;
  padding: 10rem 0;
  background: url("../../img/contactUs.png") top;
  background-attachment: fixed;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  grid-template-rows: 18rem min-content; }
  .contact-us__top {
    grid-column: 2/10;
    display: grid;
    grid-template-rows: 1fr min-content 1fr;
    justify-content: center; }
    .contact-us__top img {
      grid-row: 1/-1;
      grid-column: 1/-1;
      justify-self: center; }
    .contact-us__top--desc {
      grid-row: 2/3;
      grid-column: 1/-1;
      font-size: 20px;
      text-transform: uppercase; }
  .contact-us__middle {
    margin-top: 75px;
    grid-column: 2/10; }
    .contact-us__middle .form {
      display: grid;
      grid-template-rows: min-content 15rem min-content; }
      .contact-us__middle .form input, .contact-us__middle .form textarea {
        background-color: transparent;
        border: 1px solid white;
        color: white;
        padding: 10px;
        outline: none; }
      .contact-us__middle .form textarea {
        resize: none; }
      .contact-us__middle .form__top {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
        grid-gap: 4.5rem;
        margin-bottom: 4rem; }
  .contact-us__bottom {
    grid-column: 5/7;
    justify-self: center; }

.map {
  grid-column: 1 / -1;
  height: 100%;
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid black; }

.footer {
  grid-column: 1 / -1;
  background-color: #222222; }
  .footer__left {
    grid-column: 2/6;
    justify-self: start;
    font-size: 13px;
    align-self: center; }
  .footer__right {
    grid-column: 6/10;
    justify-self: end;
    align-self: center; }

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%; }

body {
  font-family: "Nunito", sans-serif;
  color: #fff;
  font-weight: 300; }

.container {
  display: grid;
  grid-template-rows: 100vh min-content 30vw 30vw repeat(5, min-content) minmax(300px, 360px) minmax(100px, 120px);
  grid-template-columns: [full-start] minmax(6rem, 1fr) [center-start] repeat(8, [col-start] minmax(min-content, 17.5rem) [col-end]) [center-end] minmax(6rem, 1fr) [full-end]; }
  @media screen and (max-width: 970px) {
    .container {
      grid-template-rows: 100vh min-content min-content min-content repeat(5, min-content) minmax(300px, 360px) minmax(100px, 120px); } }

.content {
  display: grid;
  grid-template-columns: minmax(6rem, 1fr) repeat(8, [col-start] minmax(min-content, 17.5rem) [col-end]) minmax(6rem, 1fr); }

.half_content {
  display: grid;
  grid-template-columns: minmax(6rem, 1fr) repeat(4, [col-start] minmax(min-content, 17.5rem) [col-end]); }

.half_content_back {
  display: grid;
  grid-template-columns: repeat(4, [col-start] minmax(min-content, 17.5rem) [col-end]) minmax(6rem, 1fr); }

.btn, .btn:link, .btn:visited {
  text-decoration: none;
  display: inline-block; }

.btn__menu {
  color: #fff;
  font-size: 2rem; }

.btn__options {
  background-color: #11749e;
  color: #fff;
  text-transform: uppercase;
  font-size: 1.5rem;
  padding: 1.4rem 0 1.4rem 2rem; }
  .btn__options--1 {
    width: 70%; }
  .btn__options--2 {
    width: 80%; }
  .btn__options--3 {
    width: 90%; }

.btn__submit {
  background-color: #11749e;
  color: #fff;
  text-transform: uppercase;
  font-size: 1.5rem;
  padding: 1.4rem 2rem 1.4rem 2rem;
  justify-self: center;
  margin-top: 4.5rem; }
