@import "../base";

.features {
  grid-column: 1 / -1;
  background-color: $color-blue;
  padding: 10rem 0;

  //@include content;
  grid-template-rows: 18.5rem min-content;

  &__top {
    grid-row: 1/2;
    grid-column: 2/10;
    display: grid;
    grid-template-rows: 1fr min-content 1fr;

    img {
      grid-row: 1/-1;
      grid-column: 1/-1;
      justify-self: center;
      height: 100%;
    }

    &--desc {
      font-size: 3.8rem;
      line-height: 4.5rem;
      grid-row: 2/3;
      grid-column: 1/-1;
      text-align: center;
    }
  }
  &__bottom {
    margin-top: 3.4rem;
    grid-row: 2/3;
    grid-column: 2/10;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(26rem, 1fr));
    grid-gap: 4.5rem;

    .feature {
      display: grid;
      //grid-template-rows: ;

      .image-wrap {
        height: 13.5rem;
        width: 13.5rem;
        border-radius: 67px;
        background-color: #2e85aa;
        position: relative;
        justify-self: center;
        margin-bottom: 1.5rem;

        img{
          position: absolute;
          height: 3.5rem;
          width: 3.5rem;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
        }

      }
        .title {
          font-size: 1.8rem;
          //line-height: 3.6rem;
          text-align: center;
          margin-bottom: 2rem;
          text-transform: uppercase;
        }
        .description {
          font-size: 15px;
          line-height: 24px;
          text-align: center;
        }
    }
  }
}